@font-face {
  font-family: "Formula1";
  src: url(Formula1.ttf);
  
}

body{
	/*background-color: #FFF;*/
  background-image: url(bg1.jpg);
  background-size: contain;
  background-attachment: fixed;
}
#fixed{
  position: fixed;
  color: #FFF;
  text-align: right;
  z-index: 999;
  margin-left: 1rem;
  font-family: 'Montserrat' !important;
  border-radius: 50px;
  height: 20px;
  background-color:#333D94;
  padding: 7px; 
  font-size: 16px;
  display: none;
}

.mdl-button{
  background-color:#333D94 !important;
  color: #fff!important; 
}

.container{
	text-align: center;
	width: 100%;
}
header{
background-color:rgba(0,0,0,0.0);
font-size:2em;
color: #FFF;
padding:15px;
text-align: left;
font-family: 'Montserrat';
font-weight: bold;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 28px;
    display: none;

 }

  .card > div{
	width: 100%;
	max-width: 600px;
	height:250px;
	 font-family: 'Montserrat' !important;
}
.card {
  margin: 1rem;
  border-radius: 8px;
  /*background-image: linear-gradient(-45deg, #000,#0079BE); */
  background-color: #EDEDED;
 /* box-shadow: 0 12px 35px 0 rgba(0, 0, 0, 0.2), 0 16px 18px 0 rgba(0, 0, 0, 0.19);*/
  width: 100%;
  max-width: 600px;
  color: #000;
 font-family: 'Montserrat' !important;
 padding: 10px;
  
}
#root{
	width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
h5{
	 font-family: 'Montserrat' !important;
   text-align: left;
   font-weight: bold;
}
p{
  font-size:16px;
}